
.container {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Playball', cursive;
    font-size: 60px;
    font-weight: bold;
    color:  #000000;
}

a {
  font-weight: bold;
  text-decoration:none;
  color: black;
}

a:visited{
  color: black
}



.top-right {
  text-align: center;
    right: 0;
    display: inline;
    position: fixed;
    width:100%;
    z-index:1;
    opacity: 0.9;

}


.top-right ul {
    padding-left: 20px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.top-right li {
        float: right;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;

}


.top-right a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration:none;

}

.top-right a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.skills {
  background: white;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.About{
  background:#ecf0f1;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 20px;
  padding-left: 120px;
  padding-right: 120px;

}

p ,h1, h2, .skills {
 font-family: 'Raleway', sans-serif;
}


.Portfolio{
  background:  White;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}



.Contact{
  background: #ecf0f1;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.frontend , .backend, .other {
  display: inline-block;
    padding: 25px
}

ul {
      list-style-type: none;
}



.skills h4 {
   font-size: 40px;
  color: #c19b6c;
}

.skills li {
  padding-top: 20px;
}

h2 {
     font-size: 50px;
     color: #c19b6c;
}


.skills h2 {
  padding-left: 10px
}

.Portfolio img {
  padding: 10px
}

.Contact img {
  padding-left: 25px
}
.Contact img:hover{
    opacity: 0.7
}

.ph, .ph1{
  display: inline-block;
  float: center;
  padding-left: 20px;
}

.ph1 img{
  border-style: solid;
  border-width: 1px
}

.ph:hover, .ph1:hover{
  opacity: 0.7
}



@media (max-width: 950px) {
  .centered {
    display: none
  }
}

body {
  display: none;
}

.top-right .machine {
  padding-bottom: -2px;
  float: left;
  padding: 0px;
  margin-top: 2px;


}

.top-right .machine:hover {
    background-color: transparent;
