



.top-right {
    background: #c19b6c;
}


.active {
    background-color: #4CAF50;
}

.About{
  background:#ecf0f1;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 120px;
  padding-right: 120px;
}

p ,h1, h2, .skills {
 font-family: 'Raleway', sans-serif;
}

ul {
      list-style-type: none;
}



h2 {
     font-size: 50px;
     color: #c19b6c;
}


center img{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px
}

center img:hover{
  opacity: 0.8
}
